In [4]:
import pandas as pd
import numpy as np
import json
import os
import ast
from pathlib import Path
import torch
# from sentence_transformers import SentenceTransformer
from typing import List, Optional
from dataclasses import dataclass

import teradatasql
from sqlalchemy import create_engine
from dotenv import load_dotenv

from teradatagenai import VectorStore

os.makedirs('../results', exist_ok=True)


import sys
sys.path.append('..')
# from models import SentenceEmbeddingModel, SentenceEmbeddingConfig
# from utils import load_embedding_model
from constants import (
    CLEANED_TEST_DATA_PATH,
    ENCODED_TEST_DATA_PATH,
    CLEANED_TRAIN_DATA_PATH
)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\mk255155\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [12]:
# @dataclass
# class SentenceEmbeddingConfig:
#     device: str
#     dtype: str
#     model_id: str
#     truncate_dim: Optional[int]
#     convert_to_numpy: bool
#     convert_to_tensor: bool

# class SentenceEmbeddingModel:
#     def __init__(self, config: SentenceEmbeddingConfig):
#         super().__init__()
#         self.config = config
#         self.model_id = config.model_id
#         self.device = config.device
#         self.dtype = config.dtype
#         self.truncate_dim = config.truncate_dim

#         self.model = SentenceTransformer(
#             self.model_id,
#             device=self.device,
#             truncate_dim=self.truncate_dim,
#             model_kwargs={"torch_dtype": getattr(torch, self.dtype) if isinstance(self.dtype, str) else self.dtype}
#         )

#     def get_embeddings(self, texts: List[str], prompt_name: Optional[str] = None):
#         embeddings = self.model.encode(
#             texts, 
#             prompt_name=prompt_name, 
#             convert_to_numpy=self.config.convert_to_numpy,
#             convert_to_tensor=self.config.convert_to_tensor
#         )
#         return embeddings

# def load_embedding_model(config_path: str):
#     with open(config_path, "r") as f:
#         config_dict = json.load(f)
    
#     try:
#         config = SentenceEmbeddingConfig(**config_dict)
#     except TypeError as e:
#         raise ValueError(f"Invalid configuration keys: {e}.")

#     model = SentenceEmbeddingModel(config)
#     return model

In [2]:
config_path = "../config/e5_large_instruct_config.json"

print("Loading E5 Large model...")
embedding_model = load_embedding_model(config_path)
print(f"E5 Large model loaded successfully on {embedding_model.device}!")

Loading E5 Large model...
E5 Large model loaded successfully on cuda!

In [3]:
df = pd.read_csv('../data/cleaned_test.csv')
unique_classes = df['class'].unique().tolist()

item_embeddings = embedding_model.get_embeddings(df['cleaned_text'].tolist(), "query")
class_embeddings = embedding_model.get_embeddings(unique_classes)

# Convert to lists for CSV storage
item_emb_list = item_embeddings.float().cpu().numpy().tolist()
class_emb_list = class_embeddings.float().cpu().numpy().tolist()

# Create class embedding mapping
class_emb_dict = dict(zip(unique_classes, class_emb_list))

df['item_embedding'] = item_emb_list
df['class_embedding'] = [class_emb_dict[cls] for cls in df['class']]

# Create separate columns for unique classes (only for first N rows where N = number of unique classes)
df['unique_classes'] = None
df['unique_classes_embeddings'] = None

# Fill only the first N rows with unique class data
for i, (cls, emb) in enumerate(zip(unique_classes, class_emb_list)):
    if i < len(df):
        df.at[i, 'unique_classes'] = cls
        df.at[i, 'unique_classes_embeddings'] = str(emb)  # Convert list to string for CSV storage

df.to_csv('../results/embeddings.csv', index=False)
print(f"Embeddings saved with {len(df)} rows and {len(unique_classes)} unique classes")

Embeddings saved with 4546 rows and 32 unique classes

In [4]:
df.head(5).to_csv('../results/embeddings_sample.csv', index=False, encoding='utf-8')
print(f"Embeddings saved with {len(df)} rows and {len(unique_classes)} unique classes")

Embeddings saved with 4546 rows and 32 unique classes

In [5]:
load_dotenv('../.env')

TD_HOST = os.getenv('TD_HOST')
TD_USER = os.getenv('TD_USER')
TD_PASS = os.getenv('TD_PASS')
TD_DB = os.getenv('TD_DB')

In [6]:
print(TD_DB,TD_HOST,TD_PASS,TD_USER)
conn = teradatasql.connect(
    host=TD_HOST,
    user=TD_USER,
    password=TD_PASS,
    database=TD_DB
)

print("Successfully connected to Teradata!")

DEMO_USER productclass-goa68jucyz3zqdmo.env.clearscape.teradata.com veles123 demo_user
Successfully connected to Teradata!

In [13]:
# The SQL query to list all databases you have access to
sql_query = "SELECT DatabaseName FROM DBC.DatabasesV ORDER BY DatabaseName;"

print("Listing all databases you have permission to view...")
print("-" * 50)

try:
    cursor = conn.cursor()
    cursor.execute(sql_query)
    
    # Fetch all the results into a list
    databases = cursor.fetchall()

    if not databases:
        print("Could not retrieve a list of databases, or you may not have permission to view any.")
    else:
        print("Here are the databases you can access:")
        for i, (db_name,) in enumerate(databases, 1):
            # .strip() is used to remove any potential whitespace from the result
            print(f"{i}. {db_name.strip()}")

except Exception as e:
    print(f"An error occurred: {e}")

Listing all databases you have permission to view...
--------------------------------------------------
Here are the databases you can access:
1. All
2. Crashdumps
3. DBC
4. dbcmngr
5. Default
6. DemoNow_Monitor
7. demo_user
8. External_AP
9. EXTUSER
10. GLOBAL_FUNCTIONS
11. gs_tables_db
12. LockLogShredder
13. mldb
14. modelops
15. PUBLIC
16. SQLJ
17. SysAdmin
18. SYSBAR
19. SYSJDBC
20. SYSLIB
21. SYSSPATIAL
22. system
23. SystemFe
24. SYSUDTLIB
25. SYSUIF
26. Sys_Calendar
27. tapidb
28. TDaaS_BAR
29. TDaaS_DB
30. TDaaS_Maint
31. TDaaS_Monitor
32. TDaaS_Support
33. TDaaS_TDBCMgmt1
34. TDaaS_TDBCMgmt2
35. TDBCMgmt
36. TDMaps
37. TDPUSER
38. TDQCD
39. TDStats
40. tdwm
41. TD_ANALYTICS_DB
42. TD_SERVER_DB
43. TD_SYSFNLIB
44. TD_SYSGPL
45. TD_SYSXML
46. val

In [15]:
cursor.execute(f"SELECT TOP 1 * FROM {TD_DB}.train_embeddings_fc")
table_columns = [desc[0] for desc in cursor.description]
print("Table columns:", table_columns)

Table columns: ['row_id', 'v1', 'v2', 'v3', 'v4', 'v5', 'v6', 'v7', 'v8', 'v9', 'v10', 'v11', 'v12', 'v13', 'v14', 'v15', 'v16', 'v17', 'v18', 'v19', 'v20', 'v21', 'v22', 'v23', 'v24', 'v25', 'v26', 'v27', 'v28', 'v29', 'v30', 'v31', 'v32', 'v33', 'v34', 'v35', 'v36', 'v37', 'v38', 'v39', 'v40', 'v41', 'v42', 'v43', 'v44', 'v45', 'v46', 'v47', 'v48', 'v49', 'v50', 'v51', 'v52', 'v53', 'v54', 'v55', 'v56', 'v57', 'v58', 'v59', 'v60', 'v61', 'v62', 'v63', 'v64', 'v65', 'v66', 'v67', 'v68', 'v69', 'v70', 'v71', 'v72', 'v73', 'v74', 'v75', 'v76', 'v77', 'v78', 'v79', 'v80', 'v81', 'v82', 'v83', 'v84', 'v85', 'v86', 'v87', 'v88', 'v89', 'v90', 'v91', 'v92', 'v93', 'v94', 'v95', 'v96', 'v97', 'v98', 'v99', 'v100', 'v101', 'v102', 'v103', 'v104', 'v105', 'v106', 'v107', 'v108', 'v109', 'v110', 'v111', 'v112', 'v113', 'v114', 'v115', 'v116', 'v117', 'v118', 'v119', 'v120', 'v121', 'v122', 'v123', 'v124', 'v125', 'v126', 'v127', 'v128', 'v129', 'v130', 'v131', 'v132', 'v133', 'v134', 'v135', 'v136', 'v137', 'v138', 'v139', 'v140', 'v141', 'v142', 'v143', 'v144', 'v145', 'v146', 'v147', 'v148', 'v149', 'v150', 'v151', 'v152', 'v153', 'v154', 'v155', 'v156', 'v157', 'v158', 'v159', 'v160', 'v161', 'v162', 'v163', 'v164', 'v165', 'v166', 'v167', 'v168', 'v169', 'v170', 'v171', 'v172', 'v173', 'v174', 'v175', 'v176', 'v177', 'v178', 'v179', 'v180', 'v181', 'v182', 'v183', 'v184', 'v185', 'v186', 'v187', 'v188', 'v189', 'v190', 'v191', 'v192', 'v193', 'v194', 'v195', 'v196', 'v197', 'v198', 'v199', 'v200', 'v201', 'v202', 'v203', 'v204', 'v205', 'v206', 'v207', 'v208', 'v209', 'v210', 'v211', 'v212', 'v213', 'v214', 'v215', 'v216', 'v217', 'v218', 'v219', 'v220', 'v221', 'v222', 'v223', 'v224', 'v225', 'v226', 'v227', 'v228', 'v229', 'v230', 'v231', 'v232', 'v233', 'v234', 'v235', 'v236', 'v237', 'v238', 'v239', 'v240', 'v241', 'v242', 'v243', 'v244', 'v245', 'v246', 'v247', 'v248', 'v249', 'v250', 'v251', 'v252', 'v253', 'v254', 'v255', 'v256', 'v257', 'v258', 'v259', 'v260', 'v261', 'v262', 'v263', 'v264', 'v265', 'v266', 'v267', 'v268', 'v269', 'v270', 'v271', 'v272', 'v273', 'v274', 'v275', 'v276', 'v277', 'v278', 'v279', 'v280', 'v281', 'v282', 'v283', 'v284', 'v285', 'v286', 'v287', 'v288', 'v289', 'v290', 'v291', 'v292', 'v293', 'v294', 'v295', 'v296', 'v297', 'v298', 'v299', 'v300', 'v301', 'v302', 'v303', 'v304', 'v305', 'v306', 'v307', 'v308', 'v309', 'v310', 'v311', 'v312', 'v313', 'v314', 'v315', 'v316', 'v317', 'v318', 'v319', 'v320', 'v321', 'v322', 'v323', 'v324', 'v325', 'v326', 'v327', 'v328', 'v329', 'v330', 'v331', 'v332', 'v333', 'v334', 'v335', 'v336', 'v337', 'v338', 'v339', 'v340', 'v341', 'v342', 'v343', 'v344', 'v345', 'v346', 'v347', 'v348', 'v349', 'v350', 'v351', 'v352', 'v353', 'v354', 'v355', 'v356', 'v357', 'v358', 'v359', 'v360', 'v361', 'v362', 'v363', 'v364', 'v365', 'v366', 'v367', 'v368', 'v369', 'v370', 'v371', 'v372', 'v373', 'v374', 'v375', 'v376', 'v377', 'v378', 'v379', 'v380', 'v381', 'v382', 'v383', 'v384', 'v385', 'v386', 'v387', 'v388', 'v389', 'v390', 'v391', 'v392', 'v393', 'v394', 'v395', 'v396', 'v397', 'v398', 'v399', 'v400', 'v401', 'v402', 'v403', 'v404', 'v405', 'v406', 'v407', 'v408', 'v409', 'v410', 'v411', 'v412', 'v413', 'v414', 'v415', 'v416', 'v417', 'v418', 'v419', 'v420', 'v421', 'v422', 'v423', 'v424', 'v425', 'v426', 'v427', 'v428', 'v429', 'v430', 'v431', 'v432', 'v433', 'v434', 'v435', 'v436', 'v437', 'v438', 'v439', 'v440', 'v441', 'v442', 'v443', 'v444', 'v445', 'v446', 'v447', 'v448', 'v449', 'v450', 'v451', 'v452', 'v453', 'v454', 'v455', 'v456', 'v457', 'v458', 'v459', 'v460', 'v461', 'v462', 'v463', 'v464', 'v465', 'v466', 'v467', 'v468', 'v469', 'v470', 'v471', 'v472', 'v473', 'v474', 'v475', 'v476', 'v477', 'v478', 'v479', 'v480', 'v481', 'v482', 'v483', 'v484', 'v485', 'v486', 'v487', 'v488', 'v489', 'v490', 'v491', 'v492', 'v493', 'v494', 'v495', 'v496', 'v497', 'v498', 'v499', 'v500', 'v501', 'v502', 'v503', 'v504', 'v505', 'v506', 'v507', 'v508', 'v509', 'v510', 'v511', 'v512', 'v513', 'v514', 'v515', 'v516', 'v517', 'v518', 'v519', 'v520', 'v521', 'v522', 'v523', 'v524', 'v525', 'v526', 'v527', 'v528', 'v529', 'v530', 'v531', 'v532', 'v533', 'v534', 'v535', 'v536', 'v537', 'v538', 'v539', 'v540', 'v541', 'v542', 'v543', 'v544', 'v545', 'v546', 'v547', 'v548', 'v549', 'v550', 'v551', 'v552', 'v553', 'v554', 'v555', 'v556', 'v557', 'v558', 'v559', 'v560', 'v561', 'v562', 'v563', 'v564', 'v565', 'v566', 'v567', 'v568', 'v569', 'v570', 'v571', 'v572', 'v573', 'v574', 'v575', 'v576', 'v577', 'v578', 'v579', 'v580', 'v581', 'v582', 'v583', 'v584', 'v585', 'v586', 'v587', 'v588', 'v589', 'v590', 'v591', 'v592', 'v593', 'v594', 'v595', 'v596', 'v597', 'v598', 'v599', 'v600', 'v601', 'v602', 'v603', 'v604', 'v605', 'v606', 'v607', 'v608', 'v609', 'v610', 'v611', 'v612', 'v613', 'v614', 'v615', 'v616', 'v617', 'v618', 'v619', 'v620', 'v621', 'v622', 'v623', 'v624', 'v625', 'v626', 'v627', 'v628', 'v629', 'v630', 'v631', 'v632', 'v633', 'v634', 'v635', 'v636', 'v637', 'v638', 'v639', 'v640', 'v641', 'v642', 'v643', 'v644', 'v645', 'v646', 'v647', 'v648', 'v649', 'v650', 'v651', 'v652', 'v653', 'v654', 'v655', 'v656', 'v657', 'v658', 'v659', 'v660', 'v661', 'v662', 'v663', 'v664', 'v665', 'v666', 'v667', 'v668', 'v669', 'v670', 'v671', 'v672', 'v673', 'v674', 'v675', 'v676', 'v677', 'v678', 'v679', 'v680', 'v681', 'v682', 'v683', 'v684', 'v685', 'v686', 'v687', 'v688', 'v689', 'v690', 'v691', 'v692', 'v693', 'v694', 'v695', 'v696', 'v697', 'v698', 'v699', 'v700', 'v701', 'v702', 'v703', 'v704', 'v705', 'v706', 'v707', 'v708', 'v709', 'v710', 'v711', 'v712', 'v713', 'v714', 'v715', 'v716', 'v717', 'v718', 'v719', 'v720', 'v721', 'v722', 'v723', 'v724', 'v725', 'v726', 'v727', 'v728', 'v729', 'v730', 'v731', 'v732', 'v733', 'v734', 'v735', 'v736', 'v737', 'v738', 'v739', 'v740', 'v741', 'v742', 'v743', 'v744', 'v745', 'v746', 'v747', 'v748', 'v749', 'v750', 'v751', 'v752', 'v753', 'v754', 'v755', 'v756', 'v757', 'v758', 'v759', 'v760', 'v761', 'v762', 'v763', 'v764', 'v765', 'v766', 'v767', 'v768', 'v769', 'v770', 'v771', 'v772', 'v773', 'v774', 'v775', 'v776', 'v777', 'v778', 'v779', 'v780', 'v781', 'v782', 'v783', 'v784', 'v785', 'v786', 'v787', 'v788', 'v789', 'v790', 'v791', 'v792', 'v793', 'v794', 'v795', 'v796', 'v797', 'v798', 'v799', 'v800', 'v801', 'v802', 'v803', 'v804', 'v805', 'v806', 'v807', 'v808', 'v809', 'v810', 'v811', 'v812', 'v813', 'v814', 'v815', 'v816', 'v817', 'v818', 'v819', 'v820', 'v821', 'v822', 'v823', 'v824', 'v825', 'v826', 'v827', 'v828', 'v829', 'v830', 'v831', 'v832', 'v833', 'v834', 'v835', 'v836', 'v837', 'v838', 'v839', 'v840', 'v841', 'v842', 'v843', 'v844', 'v845', 'v846', 'v847', 'v848', 'v849', 'v850', 'v851', 'v852', 'v853', 'v854', 'v855', 'v856', 'v857', 'v858', 'v859', 'v860', 'v861', 'v862', 'v863', 'v864', 'v865', 'v866', 'v867', 'v868', 'v869', 'v870', 'v871', 'v872', 'v873', 'v874', 'v875', 'v876', 'v877', 'v878', 'v879', 'v880', 'v881', 'v882', 'v883', 'v884', 'v885', 'v886', 'v887', 'v888', 'v889', 'v890', 'v891', 'v892', 'v893', 'v894', 'v895', 'v896', 'v897', 'v898', 'v899', 'v900', 'v901', 'v902', 'v903', 'v904', 'v905', 'v906', 'v907', 'v908', 'v909', 'v910', 'v911', 'v912', 'v913', 'v914', 'v915', 'v916', 'v917', 'v918', 'v919', 'v920', 'v921', 'v922', 'v923', 'v924', 'v925', 'v926', 'v927', 'v928', 'v929', 'v930', 'v931', 'v932', 'v933', 'v934', 'v935', 'v936', 'v937', 'v938', 'v939', 'v940', 'v941', 'v942', 'v943', 'v944', 'v945', 'v946', 'v947', 'v948', 'v949', 'v950', 'v951', 'v952', 'v953', 'v954', 'v955', 'v956', 'v957', 'v958', 'v959', 'v960', 'v961', 'v962', 'v963', 'v964', 'v965', 'v966', 'v967', 'v968', 'v969', 'v970', 'v971', 'v972', 'v973', 'v974', 'v975', 'v976', 'v977', 'v978', 'v979', 'v980', 'v981', 'v982', 'v983', 'v984', 'v985', 'v986', 'v987', 'v988', 'v989', 'v990', 'v991', 'v992', 'v993', 'v994', 'v995', 'v996', 'v997', 'v998', 'v999', 'v1000', 'v1001', 'v1002', 'v1003', 'v1004', 'v1005', 'v1006', 'v1007', 'v1008', 'v1009', 'v1010', 'v1011', 'v1012', 'v1013', 'v1014', 'v1015', 'v1016', 'v1017', 'v1018', 'v1019', 'v1020', 'v1021', 'v1022', 'v1023', 'v1024']

In [16]:
df = pd.read_csv('../results/embeddings.csv', encoding='utf-8')

print(f"âœ… Loaded CSV with {len(df)} rows")
print(f"Columns: {list(df.columns)}")
print(f"Sample of item_embedding column:")
print(df['item_embedding'].iloc[0][:100] + "...")

âœ… Loaded CSV with 4546 rows
Columns: ['class', 'removed_punctuations', 'removed_numbers', 'removed_brand', 'removed_pack', 'removed_unit', 'removed_numbers_and_punctuations', 'removed_stopwords', 'cleaned_text', 'label', 'ara_class', 'item_embedding', 'class_embedding', 'unique_classes', 'unique_classes_embeddings']
Sample of item_embedding column:
[0.00963592529296875, 0.02484130859375, 0.0007939338684082031, -0.056121826171875, 0.011871337890625...

In [17]:
# Parse the embedding strings to actual lists/arrays
def parse_embedding(embedding_str):
    """Convert string representation of list to actual numpy array"""
    try:
        # Use ast.literal_eval to safely parse the string representation
        embedding_list = ast.literal_eval(embedding_str)
        return np.array(embedding_list, dtype=np.float32)
    except:
        print(f"Error parsing embedding: {embedding_str[:50]}...")
        return None

# Apply parsing to item_embedding column
print("ðŸ”„ Parsing embeddings...")
df['embedding'] = df['item_embedding'].apply(parse_embedding)

# Remove rows where parsing failed
df = df.dropna(subset=['embedding'])

# Add embedding dimension column
df['embedding_dim'] = df['embedding'].apply(len)

# Create a row_id column (auto-incrementing)
df['row_id'] = range(1, len(df) + 1)

# Select only necessary columns for parquet
parquet_df = df[['row_id', 'embedding', 'embedding_dim']].copy()

# Save to parquet with UTF-8 encoding preserved
parquet_df.to_parquet('full_embeddings.parquet', index=False)

print(f"âœ… Saved {len(parquet_df)} rows to gpc_bricks_embeddings.parquet")
print(f"Embedding dimensions: {parquet_df['embedding_dim'].iloc[0]}")

ðŸ”„ Parsing embeddings...
âœ… Saved 4546 rows to gpc_bricks_embeddings.parquet
Embedding dimensions: 1024

In [18]:
TABLE = f"{TD_DB}.train_embeddings_fc"
print(f"Target table: {TABLE}")

Target table: demo_user.train_embeddings_fc

In [20]:
# Read the parquet file we just created
PARQUET = "full_embeddings.parquet"
df_parquet = pd.read_parquet(PARQUET)

# Get embedding dimension
dim = int(df_parquet["embedding_dim"].iloc[0])
print(f"Embedding dimension: {dim}")

# Create column names: row_id + v1, v2, v3, ..., v1024
cols = ", ".join(["row_id"] + [f"v{i}" for i in range(1, dim+1)])

# Create SQL INSERT statement with placeholders
q = f"INSERT INTO {TABLE} ({cols}) VALUES ({', '.join(['?']*(1+dim))})"

print(f"SQL Query template: {q[:100]}...")
print(f"Total columns: {1 + dim}")

Embedding dimension: 1024
SQL Query template: INSERT INTO demo_user.train_embeddings_fc (row_id, v1, v2, v3, v4, v5, v6, v7, v8, v9, v10, v11, v12...
Total columns: 1025

In [26]:
# Extract embeddings and row_ids
emb = np.vstack(df_parquet["embedding"])
row_ids = df_parquet["row_id"].to_numpy()

# Create rows for insertion (this part was already correct)
rows = []
for i in range(len(df_parquet)):
    row = [int(row_ids[i])] + emb[i].tolist()
    rows.append(tuple(row))

print(f"Prepared {len(rows)} rows for insertion")
print(f"Sample row structure: row_id={rows[0][0]}, first 5 embedding values={rows[0][1:6]}")


# --- THE SMALL MODIFICATION IS HERE ---
# Create a robust query string that explicitly names every column.
# This prevents the "data shift" error.
column_names = ["row_id"] + [f"v{i}" for i in range(1, 1025)]
placeholders = ", ".join(["?"] * len(column_names)) # Creates "?, ?, ?, ..."
q = f"INSERT INTO {TABLE} ({', '.join(column_names)}) VALUES ({placeholders})"
# -----------------------------------------


# Connect to Teradata and insert data
try:
    with teradatasql.connect(host=TD_HOST, user=TD_USER, password=TD_PASS) as con:
        cursor = con.cursor()
        cursor.executemany(q, rows)
        con.commit()  # Ensure data is committed
    
    print(f"âœ… Successfully inserted {len(rows)} rows into {TABLE}")
    
except Exception as e:
    print(f"âŒ Error inserting data: {str(e)}")

Prepared 4546 rows for insertion
Sample row structure: row_id=1, first 5 embedding values=(0.00963592529296875, 0.02484130859375, 0.0007939338684082031, -0.056121826171875, 0.011871337890625)
âœ… Successfully inserted 4546 rows into demo_user.train_embeddings_fc

In [28]:
import pandas as pd

try:
    with teradatasql.connect(host=TD_HOST, user=TD_USER, password=TD_PASS) as con:

        # Use pandas to get the row count
        count = pd.read_sql(f"SELECT COUNT(*) FROM {TABLE}", con).iloc[0, 0]
        print(f"âœ… Total rows in {TABLE}: {count}")

        # Use pandas to get and display the top 5 rows
        print(f"\n--- Top 5 Rows from {TABLE} ---")
        df_head = pd.read_sql(f"SELECT TOP 5 * FROM {TABLE}", con)

        # In a Jupyter cell, this will automatically render as a nice table
        display(df_head)

except Exception as e:
    print(f"âŒ Error verifying data: {str(e)}")

C:\Users\mk255155\AppData\Local\Temp\ipykernel_36424\2351680036.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  count = pd.read_sql(f"SELECT COUNT(*) FROM {TABLE}", con).iloc[0, 0]

âœ… Total rows in demo_user.train_embeddings_fc: 4546

--- Top 5 Rows from demo_user.train_embeddings_fc ---

C:\Users\mk255155\AppData\Local\Temp\ipykernel_36424\2351680036.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_head = pd.read_sql(f"SELECT TOP 5 * FROM {TABLE}", con)

,row_id,v1,v2,v3,v4,v5,v6,v7,v8,v9,...,v1015,v1016,v1017,v1018,v1019,v1020,v1021,v1022,v1023,v1024
0,1531,0.021561,0.030045,0.005020,-0.040436,0.017609,-0.007465,-0.004505,0.029495,0.012520,...,-0.037567,-0.030930,0.031006,-0.023148,0.025970,0.029770,-0.008179,-0.026596,-0.029648,0.009315
1,1,0.009636,0.024841,0.000794,-0.056122,0.011871,-0.028091,-0.007812,0.018021,0.024918,...,-0.021820,-0.035278,0.018082,-0.029694,0.025330,0.041473,0.009933,-0.014023,-0.031830,0.028305
2,2,-0.004341,0.033661,0.010498,-0.054352,0.018799,-0.003498,-0.011681,0.073547,0.013206,...,-0.037689,-0.049316,0.016037,-0.016037,0.023804,0.034698,-0.007763,-0.028458,-0.051727,0.032593
3,766,-0.011871,0.024658,0.012207,-0.058167,0.019623,0.013252,-0.006432,0.055298,0.027420,...,-0.021515,-0.049561,0.019867,-0.008057,0.008293,0.038025,-0.006077,-0.021301,-0.062927,0.031555
4,767,0.025299,0.016129,0.009903,-0.046570,0.011963,0.001855,-0.008919,0.060791,0.024765,...,-0.056641,-0.032593,0.001007,-0.031525,0.003613,0.038818,-0.016479,0.008171,-0.039856,0.041107

In [29]:
try:
    with teradatasql.connect(host=TD_HOST, user=TD_USER, password=TD_PASS) as con:
        cursor = con.cursor()
        
        # Delete the rows
        cursor.execute(f"DELETE FROM {TABLE}")
        # Or to delete all: cursor.execute(f"DELETE FROM {TABLE}")
        
        con.commit()
        print("âœ… Rows deleted successfully")
        
        # Verify deletion
        cursor.execute(f"SELECT COUNT(*) FROM {TABLE}")
        count = cursor.fetchone()[0]
        print(f"Remaining rows: {count}")
        
except Exception as e:
    print(f"âŒ Error deleting data: {str(e)}")

âœ… Rows deleted successfully
Remaining rows: 0

In [ ]:
TABLE = f"{TD_DB}.train_embeddings_fc"
CSV_FILE = "full_embeddings.csv"  #Temp CSV

#Load and parse embeddings
df = pd.read_csv('../results/embeddings.csv', encoding='utf-8')
df['embedding'] = df['item_embedding'].apply(lambda s: np.array(ast.literal_eval(s), dtype=np.float32))
df = df.dropna(subset=['embedding'])  #Drop failed parses
df['row_id'] = range(1, len(df) + 1)

#Detect dim from first embedding
dim = len(df['embedding'].iloc[0])

#Expand embeddings to columns v1-v{dim}
emb_df = pd.DataFrame(np.vstack(df['embedding']), columns=[f"v{i}" for i in range(1, dim + 1)])
parquet_df = pd.concat([df[['row_id']], emb_df], axis=1)

#Save expanded to temp CSV
parquet_df.to_csv(CSV_FILE, index=False)

In [ ]:
# Connect and load CSV directly
with teradatasql.connect(host=TD_HOST, user=TD_USER, password=TD_PASS) as con:
    cursor = con.cursor()
    
    #Column names and placeholders for insert
    cols = ["row_id"] + [f"v{i}" for i in range(1, dim + 1)]
    placeholders = ", ".join(["?"] * len(cols))
    
    #Direct CSV load syntax
    q = f"{{fn teradata_read_csv({CSV_FILE})}}INSERT INTO {TABLE} ({', '.join(cols)}) VALUES ({placeholders})"
    cursor.execute(q)
    con.commit()

C:\Users\mk255155\AppData\Local\Temp\ipykernel_36424\1885426725.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  count_df = pd.read_sql(f"SELECT COUNT(*) AS total_rows, (SELECT TOP 5 * FROM {TABLE}) FROM {TABLE}", con)

DatabaseError: Execution failed on sql 'SELECT COUNT(*) AS total_rows, (SELECT TOP 5 * FROM demo_user.train_embeddings_fc) FROM demo_user.train_embeddings_fc': [Version 20.0.0.34] [Session 1083] [Teradata Database] [Error 6916] TOP N Syntax error: Top N option is not supported in subquery.
 at gosqldriver/teradatasql.formatError ErrorUtil.go:83
 at gosqldriver/teradatasql.(*teradataConnection).formatDatabaseError ErrorUtil.go:190
 at gosqldriver/teradatasql.(*teradataConnection).makeChainedDatabaseError ErrorUtil.go:206
 at gosqldriver/teradatasql.(*teradataConnection).processErrorParcel TeradataConnection.go:340
 at gosqldriver/teradatasql.(*TeradataRows).processResponseBundle TeradataRows.go:2597
 at gosqldriver/teradatasql.(*TeradataRows).executeSQLRequest TeradataRows.go:1073
 at gosqldriver/teradatasql.newTeradataRows TeradataRows.go:792
 at gosqldriver/teradatasql.(*teradataStatement).QueryContext TeradataStatement.go:122
 at gosqldriver/teradatasql.(*teradataConnection).QueryContext TeradataConnection.go:823
 at database/sql.ctxDriverQuery ctxutil.go:48
 at database/sql.(*DB).queryDC.func1 sql.go:1786
 at database/sql.withLock sql.go:3574
 at database/sql.(*DB).queryDC sql.go:1781
 at database/sql.(*Conn).QueryContext sql.go:2037
 at main.createRows goside.go:1080
 at main.goCreateRows goside.go:959
 at _cgoexp_ff5e33a08e40_goCreateRows _cgo_gotypes.go:417
 at runtime.cgocallbackg1 cgocall.go:446
 at runtime.cgocallbackg cgocall.go:350
 at runtime.cgocallback asm_amd64.s:1084
 at runtime.goexit asm_amd64.s:1700

In [ ]:
# Verify
with teradatasql.connect(host=TD_HOST, user=TD_USER, password=TD_PASS) as con:
    count = pd.read_sql(f"SELECT COUNT(*) FROM {TABLE}", con).iloc[0, 0]
    df_head = pd.read_sql(f"SELECT TOP 5 * FROM {TABLE}", con)
    print(f"Total rows: {count}")
    display(df_head)

C:\Users\mk255155\AppData\Local\Temp\ipykernel_36424\249586929.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  count = pd.read_sql(f"SELECT COUNT(*) FROM {TABLE}", con).iloc[0, 0]
C:\Users\mk255155\AppData\Local\Temp\ipykernel_36424\249586929.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_head = pd.read_sql(f"SELECT TOP 5 * FROM {TABLE}", con)

Total rows: 4546

,row_id,v1,v2,v3,v4,v5,v6,v7,v8,v9,...,v1015,v1016,v1017,v1018,v1019,v1020,v1021,v1022,v1023,v1024
0,897,0.001010,0.042328,-0.011787,-0.052612,0.027039,-0.012665,-0.013084,0.027130,0.024170,...,-0.004723,-0.020020,0.020584,-0.017120,0.029510,0.053497,0.042908,-0.012344,-0.036041,0.016281
1,898,0.024277,0.036102,-0.003035,-0.051208,0.023453,-0.027725,-0.014931,0.026108,0.030502,...,-0.043060,-0.035400,0.023773,-0.023865,0.029114,0.029922,0.016632,-0.008301,-0.063538,0.034332
2,3047,0.006237,0.025635,-0.007580,-0.035522,0.033752,-0.010620,-0.010368,0.068848,0.023773,...,-0.039948,-0.079590,0.027298,-0.018555,0.017532,0.039459,-0.016983,-0.029114,-0.042450,0.014992
3,359,0.045105,0.036560,0.005260,-0.037140,0.007042,-0.011795,0.003223,0.056671,0.037781,...,-0.029846,-0.022995,0.025146,-0.019196,0.029068,0.041687,0.020599,-0.001346,-0.015404,0.037048
4,360,0.033417,0.035736,-0.022430,-0.048645,0.015411,-0.018021,-0.016113,0.043854,0.023788,...,-0.019760,-0.023331,0.017365,-0.021805,0.017639,0.058136,0.015213,0.015266,-0.007645,0.040131